* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFDF7;
    background-color: #84BC9C;
    margin: 20px auto;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 34px;
}

table {
    border: 1px black solid;
    background-color: #BB9F06;
}

th {
    border: 1px black solid;
    background-color: #095256;
}

td {
    background-color: #087F8C;
}

.tag {
    font-family: "Lucida Console", Courier, monospace;
}